# /##      /##  /######  /#######  /##       /#######     /#####  /######  /###### /##   /##
#| ##  /# | ## /##__  ##| ##__  ##| ##      | ##__  ##   |__  ## /##__  ##|_  ##_/| ### | ##
#| ## /###| ##| ##  \ ##| ##  \ ##| ##      | ##  \ ##      | ##| ##  \ ##  | ##  | ####| ##
#| ##/## ## ##| ##  | ##| #######/| ##      | ##  | ##      | ##| ##  | ##  | ##  | ## ## ##
#| ####_  ####| ##  | ##| ##__  ##| ##      | ##  | ## /##  | ##| ##  | ##  | ##  | ##  ####
#| ###/ \  ###| ##  | ##| ##  \ ##| ##      | ##  | ##| ##  | ##| ##  | ##  | ##  | ##\  ###
#| ##/   \  ##|  ######/| ##  | ##| ########| #######/|  ######/|  ######/ /######| ## \  ##
#|__/     \__/ \______/ |__/  |__/|________/|_______/  \______/  \______/ |______/|__/  \__/
#
#
# WorldJoin v${project.version}
# By: aBooDyy | aBooDyy#9543 | https://aBooDyy.net
#
# Depends on PlaceholderAPI
# https://www.spigotmc.org/resources/placeholderapi.6245/
# By: Clip | clip#0001 | https://extendedclip.com/
#
# Feel free to contact me if you have issue or suggestions
# Discord: https://aBooDyy.net/discord
#
#check_updates: true/false - Enables/Disables checking new updates for the plugin.
#worlds:
#  worldNameHere: - Case sensitive
#    run_on_join: true/false - if true, the actions will run when the player joins the server in the specified world
#    actions:
#      - '[console] Command runs by console WITHOUT slash (/)<delay=TimeInTicks>' - 20 ticks = 1 second
#      - '[player] Command runs by the player WITHOUT slash (/)'
#      - '[message] Message to be send to the player, Supports color codes (&)'
#      - '[broadcast] Send a broadcast to all online players, Supports color codes (&)'
#    first_join_actions: - runs these actions when the player joins the world for the first time (remove it to disable it)
#      - "[ACTION] You can use all the actions you can use in actions: option here."
#  anotherWorld:
#    actions:
#      - '[message] &aWelcome &7%player_name% &aTo &7{world_to}&a!'
#      - '[player] fly on<delay=60>'
#    first_join_actions:
#      - "[message] &aWelcome &7%player_name%! &aIt's your first time here."
#messages:
#  no_permission: "The message that will be send when player doesn't have permission to WorldJoin commands."
#
# placeholders: {world_from}, {world_to} and all PlaceholderAPI placeholders (https://helpch.at/placeholders)
#
check_updates: true
worlds:
  worldName:
    run_on_join: true
    first_join_actions:
      - "[message] &bWelcome &f%player_name%! &bIt's your first time here."
    actions:
      - '[message] &aWelcome %player_name% to &7{world_to}&a!'
      - '[broadcast] &7%player_name% &aJoined &7{world_to}&a!'
messages:
  no_permission: "&cYou don't have permission to use this command."